body{
 font-family: 'Open Sans', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #474747;

}

.btn-orange{


padding: 15px;
background-color: #FD6E0A;
color: white;
border: none;
outline:none;
border-radius: 5px;

}
.btn-orange:hover{
    background-color:#fd6f0a8f;
    color: white;
}
/* Shared color */
.orange{

    color:  #FD6E0A;


}
.black{
   color:  #474747;
}



/* nav related Styles..... */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav h1{
    font-size: 40px;
}
nav > ul{
    display: flex;
gap: 30px;
align-items: center;
}
/* header -serction */
.header{
    background-color: #FFF8F3;
background-image: url("../images/header_bg.png") ;
background-repeat: no-repeat;
background-position:bottom right;
background-size:553px 368px;


}
.banner{

    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
justify-content: space-between;

}
.banner >img{
    width: 584px;
    height: 676px;
}

.banner img{
    width: 400px;
   height: 100%;
}
.banner-content h1,p{

    margin-bottom: 10px;
}
.banner >profile-pi{
    width: 500px;
}
.banner-content{
    max-width: 500px;
}
/* abour -inforamtion */
/* main{
    padding: 10px 200px;
    margin-top: 20px;
} */
.about{
    background-color: #EEDFD4;
 
   width: 900px;
    height: 500px;
    margin: 60px auto;
}
.about-text{
    text-align: center;
padding: 60px 200px;
width: 837px;
height: 288px;

}
.about-information{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:0 50px;
}
.about-text h1{
    margin-bottom: 30px;
    font-weight: bold;
}
.about-text p{
    font-size: 14px ;
    color: #757575;
   
}
.about-information  h4{
font-size: 16px;
color: #474747;
    
}
.about-information h1{
color:black;
font-family:10px;
}
/* language section */
.language-section{
    padding: 10px  190px;
}
.laguage-card{
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.card{
 border-radius: 5px;
    height: 377px;
    padding: 20px;
    background-color: wheat;
}
.card .icon >img{
    width: 30px;
    margin-bottom: 10px;
}
/* Roumesee */
.about-texts{
    text-align: center;
    margin-bottom: 70px;
}
.resume-section{

   margin: 40px auto;
   padding: 0 70px;
}
.resume-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 70px;
    gap: 50px;
    margin-bottom: 40px;
}

.resume-btn{
    margin: auto;
    display: inline-block;
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
}

/* footer section */
footer{
    margin-top: 60px;
    /* display: flex;
    justify-content: space-around; */
    background-color: #757575;

}
.footer-section{
    display: flex;
    justify-content: space-around;
    padding: 40px 60px;
    align-items: center;
}
.icon-section{
    display: flex;
    justify-content: start;
}
.icon-section img{
    width: 20px;
    height: 20px;

}
.connect h1, p{
    margin-bottom: 15px;
}
.form-section{
    margin-top: 50px;
}
.form-section input{


outline: none;
border: none;
margin-bottom: 23px;
padding: 20px ;
width: 300px;
border-radius: 4px;
}
textarea{
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}
